[color]
	ui = true
[alias]
	st = status
	com = commit
	co = checkout
	br = branch
	cl = clone
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[user]
	email = stwindfy@gmail.com
	name = stwind
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/stwind/.gitignore_global
[github]
	user = stwind
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
